html {
  --page-padding-h: 2rem;
  --page-padding-v: 2rem;



  /* --color: #333333;
  --bg: #FD6655; */

  /* --color: #E3DDCD;
  --bg: #5282c2; */

  /* --color: #201E19;
  --bg: #E3DDCD; */

  /* --color: #5282c2;
  --bg: #E3DDCD; */

  --color: #09ECE0;
  --bg: #49317B;

  /* --color: black;
  --bg: rgb(255, 255, 255); */

  --color: #E3DDCD;
  --bg: #201E19;
}


body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html,
body {
  font-size: 10px;
  height: 100%;
  color: var(--color);
  background: var(--bg);
}

body {
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: 'Space Grotesk';
  padding: var(--page-padding-v) var(--page-padding-h);
  display: grid;
  grid-template-rows: 7rem 1fr 7rem;
}

h1 {
  position: absolute;
  display: inline-block;
  opacity: 0;
  width: 0;
  overflow: hidden;
  height: 0;
}

header {
  display: flex;
  align-items: center;
}

header svg {
  width: 12rem;
}

svg .fill {
  fill: var(--color);
}

svg .stroke {
  stroke: var(--color);
}

header svg.full {
  display: none;
}

header a.link:first-of-type {
  margin-left: auto;
}


h2 {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 3rem;
}

main {
  display: grid;
  padding-top: 4rem;
  overflow-y: auto;
}

.bio {
  padding-bottom: 8rem;
}

main p {
  max-width: 40rem;
}

p+p {
  margin-top: 1rem;
}


main p:nth-child(2) {
  grid-area: 2/ 3 / 1/ 2;
}


h4 {
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

footer {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 2rem;
  border-top: 0.3rem solid var(--color);
}

footer:before {
  content: '';
  position: absolute;
  left: 0;
  top: -8rem;
  height: 8rem;
  width: 100%;
  background: linear-gradient(0deg, var(--bg) 0%, rgba(255, 255, 255, 0) 100%);
}

footer .social,
footer .location {
  display: flex;
  flex-wrap: wrap;
}

footer h4 {
  flex-basis: 100%;
  margin-bottom: 2rem;
}

footer .social {
  flex-grow: 20;
}

footer .location {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  flex-basis: 100%;
  white-space: nowrap;
  flex-shrink: 2;
}

footer .location svg {
  width: 1.2rem;
}

footer .location span {
  font-size: 1.4rem;
  margin-left: 1rem;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: var(--color);
}

a.link {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding-bottom: 0.5rem;
  color: var(--color);
  text-decoration: none;
  margin-right: 2rem;
  transition: all 0.1s ease-in-out;
}

a.link span {
  position: relative;
}

a.link:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 0.3rem;
  background: var(--color);
  transition: all 0.1s ease-in-out;
}

a.link:hover {
  color: var(--bg);
}

a.link:hover:before {
  height: 100%;
}


@media (min-width: 720px) {
  html {
    --page-padding-h: 4rem;
  }

  header svg.mark {
    display: none;
  }

  header svg.full {
    display: inline-block;
    width: 23rem;
  }

  a.link {
    font-size: 1.8rem;
  }

  main {
    align-items: center;
  }

  main .wrapper {
    display: grid;
  }

  h2 {
    font-size: 4.8rem;
  }

  h4 {
    display: inline-block;
  }

  .bio {
    columns: 2;
  }

  footer .location {
    flex-basis: auto;
    margin-left: auto;
    text-align: right;
    margin-top: 0;
    justify-content: flex-end;
    max-width: 17rem;
  }

  footer .location span {
    font-size: 1.8rem;
  }

  footer .location svg {
    width: 1.6rem;
  }
}

@media (min-width: 1080px) {
  html {
    --page-padding-h: 10rem;
  }

  main .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    border-top: 0;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1300px) {
  h2 {
    font-size: 6rem;
  }
}

@media (min-height: 800px) {
  html {
    --page-padding-v: 6rem;
  }
}

@media (min-height: 1000px) {
  html {
    --page-padding-v: 10rem;
  }
}
