* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Palatino, Georgia, 'Times New Roman', Times, serif;
  background-color: #dbdbeb;
  --c-black: #363461;
  --c-blue: #3534a5;
  --c-orange: #fa8601;
}

body {
  min-height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: var(--c-black);
  border-radius: 4px;
}

html,
body {
  margin: 0;
  padding: 20px;
}

a.resume {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  color: var(--c-blue);
}

a,
a:visited {
  color: var(--c-blue);
  transition: color 0.1s ease-out;
}

a:hover {
  color: var(--c-orange);
}

svg {
  margin-right: 12px;
}

svg path {
  fill: currentColor;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: block;
  margin-bottom: 10px;
}

aside {
  margin-top: 58px;
}


@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
  }

  aside {
    text-align: right;
  }

  h2 br {
    display: none;
  }
}

.location {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #6f6e83;
}

.location svg {
  width: 16px;
  margin-right: 6px;
}
