-
  links = [
    //- {title: 'Resume', href: "https://tristanmatthias.com/resume", icon: "M21.9253 1.96619H3.9707V32.0339H30.5305V10.5713L21.9253 1.96619ZM28.526 11.4016V11.4876H21.0091V3.9707H21.0951L28.526 11.4016ZM5.97521 30.0294V3.9707H19.0045V13.4921H28.526V30.0294H5.97521Z" },
    {title: 'Github', href: "https://github.com/tristanMatthias", icon: "M16 0.39602C7.161 0.39602 0 7.56302 0 16.396C0 23.469 4.584 29.464 10.937 31.579C11.74 31.73 12.03 31.235 12.03 30.807C12.03 30.427 12.021 29.422 12.015 28.088C7.562 29.052 6.624 25.937 6.624 25.937C5.895 24.093 4.843 23.598 4.843 23.598C3.395 22.609 4.958 22.63 4.958 22.63C6.562 22.739 7.406 24.275 7.406 24.275C8.833 26.723 11.15 26.015 12.067 25.603C12.207 24.572 12.624 23.863 13.078 23.468C9.526 23.067 5.791 21.692 5.791 15.561C5.791 13.81 6.411 12.384 7.436 11.264C7.259 10.863 6.717 9.23302 7.577 7.02902C7.577 7.02902 8.916 6.60202 11.977 8.67002C13.258 8.31502 14.618 8.13802 15.977 8.12902C17.337 8.13802 18.696 8.31602 19.977 8.67002C23.02 6.60202 24.358 7.02902 24.358 7.02902C25.217 9.23302 24.675 10.862 24.519 11.264C25.534 12.384 26.154 13.811 26.154 15.561C26.154 21.706 22.414 23.061 18.858 23.452C19.414 23.931 19.935 24.916 19.935 26.411C19.935 28.551 19.915 30.275 19.915 30.796C19.915 31.212 20.195 31.712 21.019 31.551C27.419 29.458 31.998 23.458 31.998 16.395C31.998 7.56202 24.837 0.39502 15.998 0.39502L16 0.39602Z" },
    {title: 'Dribbble', href: "https://dribbble.com/tristan_mm", icon: "M16 32C7.183 32 0 24.817 0 16C0 7.183 7.183 0 16 0C24.817 0 32 7.183 32 16C32 24.817 24.817 32 16 32ZM29.495 18.188C29.027 18.041 25.266 16.917 20.979 17.604C22.766 22.516 23.495 26.516 23.636 27.349C26.703 25.276 28.885 21.989 29.495 18.188V18.188ZM21.339 28.599C21.136 27.402 20.339 23.224 18.422 18.24L18.334 18.265C10.615 20.953 7.855 26.302 7.615 26.802C9.918 28.609 12.839 29.687 16 29.687C17.891 29.687 19.693 29.302 21.333 28.603L21.339 28.599ZM5.849 25.161C6.156 24.625 9.906 18.421 16.958 16.14C17.135 16.079 17.317 16.027 17.494 15.979C17.15 15.198 16.775 14.422 16.385 13.662C9.562 15.698 2.942 15.615 2.344 15.599L2.339 16.016C2.339 19.527 3.667 22.735 5.85 25.156L5.849 25.161ZM2.62 13.219C3.235 13.23 8.864 13.255 15.255 11.558C12.99 7.531 10.547 4.146 10.188 3.651C6.364 5.454 3.511 8.974 2.62 13.214V13.219ZM12.803 2.735C13.178 3.246 15.662 6.62 17.896 10.735C22.755 8.918 24.817 6.151 25.063 5.803C22.646 3.651 19.474 2.355 16 2.355C14.901 2.355 13.828 2.484 12.803 2.735V2.735ZM26.579 7.38C26.292 7.765 24 10.703 18.948 12.765C19.265 13.421 19.573 14.078 19.855 14.749C19.964 14.989 20.052 15.229 20.146 15.453C24.694 14.88 29.214 15.802 29.667 15.896C29.64 12.667 28.495 9.708 26.588 7.385L26.579 7.38Z" },
    {title: 'LinkedIn', href: "https://linkedin.com/in/tristanmatthias", icon: "M27.26 27.271H22.527V19.844C22.527 18.073 22.49 15.797 20.052 15.797C17.584 15.797 17.208 17.718 17.208 19.713V27.27H12.469V11.999H17.021V14.082H17.082C17.718 12.879 19.265 11.614 21.573 11.614C26.374 11.614 27.265 14.775 27.265 18.885V27.27L27.26 27.271ZM7.115 9.912C5.588 9.912 4.364 8.677 4.364 7.156C4.364 5.64 5.593 4.407 7.115 4.407C8.637 4.407 9.87 5.64 9.87 7.156C9.87 8.677 8.637 9.912 7.115 9.912V9.912ZM9.489 27.271H4.74V12H9.489V27.271ZM29.636 0H2.36C1.057 0 0 1.031 0 2.307V29.694C0 30.97 1.057 32.001 2.36 32.001H29.631C30.932 32.001 32 30.97 32 29.694V2.307C32 1.031 30.932 0 29.631 0L29.636 0Z" },
    {title: 'Email', href: "mailto:hello@tristanmatthias.com", icon: "M30 6.99327L16.2957 17.0431C16.21 17.1063 16.1064 17.1404 16 17.1404C15.8936 17.1404 15.79 17.1063 15.7043 17.0431L2 6.99327V5.125H30V6.99327ZM14.5216 18.6558C14.9499 18.9714 15.4679 19.1418 16 19.1422C16.5321 19.1418 17.0501 18.9714 17.4784 18.6558L30 9.47333V27.1249H2V9.47333L14.5216 18.6558Z" },
  ]

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tristan Matthias
    link(rel="stylesheet", href="/base.css")


    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-81114755-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-81114755-1');


  body
    main
      div
        h1 Tristan Matthias.
        h2 Snr. Software Engineer #[br]

        h3 Currently at #[a(href="https://ironox.com" target="_blank") Iron Ox]

        a.resume(href="/Tristan Matthias – Snr. Software Engineer.pdf" target="_blank") RESUMÉ

        for link in links

          a(href=link.href link.title target="_blank")
            svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d=link.icon)

        .location
          svg(viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M84.1857 194.953C84.1308 231.503 95.7861 267.109 117.443 296.551L242.878 476.332C244.352 478.446 246.315 480.172 248.6 481.363C250.885 482.555 253.423 483.177 256 483.177C258.577 483.177 261.115 482.555 263.4 481.363C265.685 480.172 267.648 478.446 269.122 476.332L394.557 296.551C410.609 274.66 421.245 249.276 425.595 222.481C429.944 195.686 427.882 168.242 419.578 142.397C411.275 116.552 396.965 93.0429 377.823 73.7954C358.681 54.548 335.25 40.1101 309.451 31.6651C283.652 23.2201 256.22 21.0082 229.401 25.2107C202.582 29.4132 177.141 39.9105 155.162 55.8424C133.183 71.7743 115.292 92.6873 102.955 116.868C90.6179 141.048 84.1857 167.808 84.1857 194.953V194.953ZM312 197.012C312 208.088 308.716 218.915 302.562 228.124C296.409 237.333 287.663 244.511 277.43 248.749C267.198 252.988 255.938 254.097 245.075 251.936C234.212 249.775 224.234 244.442 216.402 236.61C208.57 228.778 203.237 218.8 201.076 207.937C198.915 197.074 200.024 185.815 204.263 175.582C208.501 165.349 215.679 156.603 224.888 150.45C234.097 144.297 244.924 141.012 256 141.012C270.852 141.012 285.096 146.912 295.598 157.414C306.1 167.916 312 182.16 312 197.012V197.012Z")
          span San Francisco, California

      aside
        h2 Things I've done:
        ul
          li Founder - #[a(href="https://codementoring.co") Code Mentoring]
          li Blog - #[a(href="https://spirals.blog") spirals.blog]
          li Visual Web Synth - #[a(href="https://synthia.app") synthia.app]
          li Machine Learning: Sketch to HTML - #[a(href="https://sketcher.site") sketcher.site]
          li Musician - #[a(href="https://soundcloud.com/tristanMatthias") Soundcloud]
