<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tristan Matthias
    link(rel="stylesheet", href="/base.css")


    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-81114755-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-81114755-1');


  body
    main
      article.poem
          header
            h1 Freedom
            time Sept. 30 2023
          p Where are we?

          p What is this place?

          p Nobody really knows.

          p
            span People make stabs,
            span The intelligent ones dissect,
            span The dreaming ones project,
            span But most ignore the question.

          p …Because nobody really knows.

          p
            span There are no rules here.
            span Despite what grooves we fall into,
            span Carrying on as little lambs are lead by a shepherds hooked cane.
            span Despite what old, ancient words passed down from greying men tell us,
            span Sitting musty in old yellowed tomes, <em>aching</em> to not be forgotten.
            span Despite what the batons of the forceful insist,
            span Clashing and bashing at resistance to the will of a far off aristocrat.
            span Despite what the tear in our lovers eye beckons for,
            span Sliding slowly down the cheek in fear and loss.

          p There are no rules here.

          p
            span <em>Sieze</em> yourself.
            span Unhook the bindings that siphon your precious attention.
            span Sequester your mind, your body, your soul.
            span Let the obligations, responsibilities, rituals, roles, identities, and rules
            span fall away like browned leaves in a winters wind.
            span Replace the guiding hand that wrote your story cavalierly in messy ink
            span with your own <em>fated</em> strokes.
            span Feel the rush of a fresh blank page, turned over anew, yearning for greatness,
            span Whatever that may be.

          p
            span There are no rules here.
            span No other story to be told.
            span Just your <em>own</em> epic.
            span Unfolding silently through time.
